*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0%;
    margin: 0%;
    background-color: #121721;
    justify-content: center;
    align-items: center;
}

body.active{
    background-color: #F4F6F8;
}

header{
    background-image: url('C:/Users/RASHID/Desktop/devjobapp/devjobs-web-app/starter-code/assets/desktop/bg-pattern-header.svg');
    position: relative;
    border-bottom-left-radius: 100px;
    transform-origin: 0 0;
}

/**header{
    background-image: "data:C:/Users/RASHID/Desktop/devjobapp/devjobs-web-app/starter-code/assets/desktop/bg-pattern-header.svg";
}**/

.logo{
    margin: auto;
    line-height: 80px;
    padding: 0 100px;
}

div ul{
    list-style: none;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

div ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    vertical-align: center;
}

.container{
    width: 100%;
    min-height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 90px;
    gap: 10px;
}

.white{
    color: #FFF;
    font-family: Kumbh Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.grey{
    color: #6E8098;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blue{
    color: #5964E0;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container .content-section .card{
    background-color: #19202D;
    border-radius: 6px;
    flex: 1;
    margin: 20px 20x;
    row-gap: 20px;
    
}


@media screen and (max-width:768px) {
    .content-section{
        flex-direction: column;
    }
}